/* ordre alphabetic pls */

.big-title {
  font-size: 5em;
  letter-spacing: 0.3em;
  font-weight: bolder;
}

.section {
  background-color: #a6230f;
  color: white;
  height: 700px;
  width: 100%;
}
.section-testimony {
  background-color: #a6230f;
  color: white;
  height: 900px;
  width: 100%;
}

.section-top {
  background-image: url("/images/bc-section-top.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 900px;
  width: 100%;
}

.section-white {
  background-color: white;
  color: #a6230f;
  height: 700px;
  width: 100%;
}

.testimony {
  color: white;
  background-color: #a36d0f;
  border: groove;
}

.testimonial-image {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  .big-title {
    font-size: 2em;
  }
}
