<div class="section-info-top">
  <div class="sSection1 align-items-center">
    <div class="container">
      <h1 class="text-uppercase fs-1 fw-bold mb-2 big-title">À propos de nous.</h1>
    </div>
  </div>
</div>
<div class="container my-5 py-5" style="max-width: 1000px;">
  <h1 class="fw-bold text-uppercase text-md-start text-sm-center fs-3 title mb-1 py-3">Notre Histoire</h1>
  <p class="description1 titre mb-4 fs-5-sm fw-normal">Découvrez nos motivations ainsi que l'histoire de notre entreprise.</p>
  <hr>
  <div class="mt-5 row pb-5">
    <div class="col-md-6">
      <p class="description1 titre fw-light px-2">Notre entreprise est née de la passion pour la chaussure et d'une vision : offrir à chacun la chance de posséder des chaussures de qualité exceptionnelle sans compromis. Nous croyons en la joie d'une paire de chaussures parfaite et nous nous engageons à rendre nos clients heureux en leur offrant des choix variés, un service attentionné et une expérience de satisfaction inégalée.</p>
    </div>
    <div class="col-md-6">
      <p class="description1 titre fw-light px-2">Chaque sourire sur le visage de nos clients est une récompense. Nous comprenons que les chaussures ne sont pas seulement des accessoires, mais des compagnons de chaque pas. C'est pourquoi nous nous efforçons de dépasser les attentes, en offrant des produits authentiques, des conseils avisés et un service personnalisé. Votre bonheur est notre succès et nous sommes fiers de vous accompagner à chaque pas de votre voyage.</p>
    </div>
  </div>
  <div class="grid-container my-5">
    <div class="grid-item1 bg-dark"></div>
    <div class="grid-item2 bg-success"></div>
    <div class="grid-item3 bg-warning"></div>
  </div>
  <div class="text-center p-5 container " style="max-width: 700px;">
    <h1 class="my-4 fw-semibold fs-3 title pt-5">Notre Philosophie</h1>
    <p class="description1 fs-5 px-3">Le bonheur se trouve dans les détails. C'est dans la qualité des pas que réside la plénitude de la marche.</p><cite class="blockquote-footer" title="Confucius">Confucius</cite>
  </div>
</div>
