<div style="overflow: hidden;">
  <div class="section-top-patisserie row m-0 mb-5">
    <div class="mx-auto my-auto col-6 px-5">
      <h3 class="mb-5">LA LUNA ESPECTARO</h3>
      <h1 class="big-title my-4">BEST PATISSERIE.</h1>
      <h6 class="mb-5 ">Nothing more delicious.</h6>
    </div>
  </div>

  <div class="section-sc-color m-0" >
    <div class="text-center container p-5" data-aos="fade-top">
      <h1 class="title">Artisanal Excellence</h1>
      <hr class="my-3" />
      <p>
        In a world where precision meets passion, our patisserie stands as a
        testament to artisanal excellence. Each creation is a masterpiece
        meticulously crafted by our skilled pastry chefs, dedicated to
        elevating the art of sweetness.
      </p>
    </div>
    <div class="row p-5" data-aos="fade-up">
      <div class="col-4 d-flex p-5">
        <div class="mx-auto text-center">
          <div class="icon-div w-100 p-5">
            <img src="../../assets/images/chief.png" class="img-fluid icon-div" alt="Chief" />
          </div>
          <h3 class="my-4 title">Best Chiefs</h3>
          <p>
            Experience unparalleled sweetness on our Patisserie Paradise website, where the expertise of the Best Chiefs transforms desserts into masterpieces. Indulge in a symphony of flavors, from classic French pastries to modern delights, curated by skilled pastry chefs. Welcome to a celebration of culinary excellence, where each bite is a crafted delight by the Best Chiefs.</p>
        </div>
      </div>
      <div class="col-4 d-flex p-5">
        <div class="mx-auto text-center">
          <div class="icon-div w-100 p-5">
            <img src="../../assets/images/farine.png" class="img-fluid icon-div" alt="Chief" />
          </div>
          <h3 class="my-4 title">Best Ingredients</h3>
          <p>Embark on a culinary journey where excellence meets taste. At our kitchen, we source only the finest ingredients – from premium spices to the freshest produce. Each dish is a masterpiece crafted with precision, reflecting our commitment to delivering a gastronomic experience beyond compare.</p>

        </div>
      </div>
      <div class="col-4 d-flex p-5">
        <div class="mx-auto text-center">
          <div class="icon-div w-100 p-5">
            <img
              src="../../assets/images/certificate.png"
              class="img-fluid icon-div"
              alt="Chief"
            />
          </div>
          <h3 class="my-4 title">Best Quality</h3>
          <p>Indulge in excellence with our commitment to unparalleled quality. At our establishment, we pride ourselves on delivering products and services that exceed expectations. From meticulous craftsmanship to exceptional service, we ensure that every experience reflects the epitome of quality.</p>

        </div>
      </div>
    </div>
  </div>

  <div
    class="section-white text-center w-100 my-5"
    style="height: fit-content"

  >
    <h1 class="py-5 title shadow-text">Our Patisserie</h1>
    <div class="container z-0 w-100">
      <div class="row p-md-5 m-0 w-100 h-100" >
        <div class="col-md-3 card-patiss py-md-5 col-4" *ngFor="let plat of this.Http.PlatList ">
          <div class="card w-100 p-md-3 py-md-0 mt-4" style="width: 18rem" data-aos="fade-up">
            <img
              class="card-img-top img-fluid"
              [src]="plat.images"
              alt="Card image cap"

            />
            <div class="card-body">
              <h5>{{plat.name}}</h5>
              <p class="card-text">Some quick example text to build.</p>
              <p class="card-text">{{plat.prix}}</p>
              <p style="text-decoration: underline">more</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="px-2">
    <div class="section-reservation row m-0 p-3">
      <div class="col-6"></div>
      <div class="col-6 h-100 d-flex primary-color" data-aos="fade-left">
        <div class="my-auto p-4">
          <h1 class="title">Reservation</h1>
          <p class="py-4">
            Are you ready to embark on a gastronomic adventure with us? Ensure
            a seamless and delightful dining experience by reserving your
            table at [Your Restaurant's Name]. Whether it's a romantic dinner,
            a family celebration, or a casual meetup, we have the perfect
            setting and menu to make your moments special.
          </p>
          <button class="btn-secondary-app">Reserve Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
