


<div class="section-restaurant section d-flex" *ngIf="!confirm">
  <div class="section-white p-3 my-auto" style="height: fit-content;">
    <div class="row m-0">
      <div class="col-md-6 col-12">
        <img src="/../../assets/images/img-reservation.jpg" class="img-fluid" alt="" >
      </div>
      <div class="col-md-6 d-flex col-12">
        <form class="my-auto">
        <h1 class="mb-5 text-center title">Reservation</h1>

          <div class="row m-0">
            <div class="col-6 my-3">
              <input [(ngModel)]="nom"

                type="text"
                     name="nom"
                     id="nom"
                class="form-control"
                placeholder="First name"
              >
            </div>
            <div class="col-6 my-3">
              <input
                type="text"
                class="form-control"
                placeholder="Last name"
              >

            </div>
            <div class="col-6 my-3">
              <input [(ngModel)]="nombre"
                     name="numbre"
                     id="numbre"
                type="number"
                class="form-control"
                placeholder="Number of Accompagnies"
              >
            </div>
            <div class="col-6 my-3">
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
              >
          </div>
          <div class="col-12 my-3">
            <input [(ngModel)]="email"
              type="text"
                   name="email"
                   id="email"
              class="form-control"
              placeholder="Email"
            >
          </div>
          <div class="col-12 my-3">

            <label for="datepicker">Sélectionnez une date :</label>
            <input [(ngModel)]="date" type="date" id="datepicker" name="datepicker">

          </div>
          <button class="mt-5 btn-primary-app"  (click)="create()">Reserve</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="confirmation" *ngIf="confirm">
  <h2>Confirmation de Réservation</h2>
  <p>Merci pour votre réservation!</p>
  <p>Votre réservation pour le nom : <strong>{{nom}}</strong> a été confirmé.</p>
  <p>Un email de confirmation vous a été envoyé.</p>
  <button [routerLink]="['']">retour à l'accueil</button>

</div>

