
  <div class="pb-5 mb-5 container p-5">
    <h1 class="mt-5 pt-5 titre fs-1 text-center title">Contact Us.</h1>
    <p class="mt-2 mb-5 fs-6 description1 fw-lignt text-center">
      Simply Fill This Formular.
    </p>

    <div class="container mt-5 pt-3 container" style="max-width: 800px;">
      <form class="row input-group">
        <div class="col-md-6">
          <label class="mb-md-3 text-uppercase" for="Nom">
            Name
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter your name"
            aria-label="Nom"
            id="Nom"
            required
          />
        </div>

        <div class="col-md-6">
          <label class=" mb-md-3 mt-md-0 mt-4 text-uppercase" for="Email">
            Email
          </label>
          <input
            type="text"
            class="form-control col-md-6"
            placeholder="Enter your email"
            aria-label="Email"
            id="Email"
            required
          />
        </div>
        <div class="col-0 mt-5">
          <label class=" mb-3 text-uppercase" for="message">
            Message
          </label>
          <textarea
            class="form-control"
            aria-label="message"
            placeholder="Write your message"
            rows="10"
            id="message"
            required
          ></textarea>
        </div>
        <button
          class="col mt-4 bg-black text-uppercase text-white mx-2 py-2 btn-primary-app"
          type="submit"
        >
          <p class="p-0 m-0">Submit</p>
        </button>
      </form>
    </div>
</div>
